@use '../utils/index' as *;

header {
    width: 100%;
    margin-bottom: 7rem;
    margin-top: 7rem;
    
    @include flex(center, center);
}

.logo p {
    display: block;
    font-size: calc(1.3rem + .8vw);
    letter-spacing: calc(.8rem + .4vw);
    font-weight: 700;
    color: $veryDarkCyan;
}