@use '../utils/index' as *;

/* Configurações em MAIN */

main {
    width: 100%;
    @include flex(center, center);
}

/* Configurações em Tip Calc Card */

.tipCalcCard {
    background-color: white;
    width: max(60%, 60rem);
    padding: 3rem;
    border-radius: 1rem;
    
    @include flex(center, stretch);
    gap: 5rem;

    @include phoneScreenDown {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
}

/* Configurações em Input Card  */

.tipCalcCard__inputCard {
    width: 50%;

    input {
        display: block;
    }

    @include phoneScreenDown {
        width: 100%;
    }
}

.inputCard__billAmount,
.inputCard__selectTip {
    margin-bottom: 4rem;
}

.selectTip__button-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 1.2rem;

    margin-top: 2rem;

    button, input {
        flex-grow: 1;
        flex-shrink: 0;

        width: 30%;
        min-width: 8rem;
        padding: .8rem;
        border-radius: .4rem;

        font-weight: 700;
        text-align: center;
    }

    button {
        background-color: $veryDarkCyan;
        color: white;
        cursor: pointer;
        transition-property: color, background-color;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
        border: 2px solid transparent;
    }

    button:hover {
        background-color: rgb(34, 221, 196);
        color: $veryDarkCyan;
    }

    input[type="number"] {
        outline: none;
        border: 2px solid transparent;
        background-color: rgb(248, 248, 248);
    }

    input[type="number"]:focus {
        border: 2px solid $cyan;
    }

    .selectTip__tipButton--active {
        color: $veryDarkCyan;
        background-color: $cyan;
    }
}

.billAmount__inputWrapper, .peopleNum__InputWrapper {
    margin-top: 2rem;
    padding: 0.5rem 1.2rem;
    border: 2px solid transparent;
    border-radius: .4rem;
    background-color: $veryLightGrayishCyan;
    position: relative;

    @include flex(center, center);
    gap: 1rem;

    img {
        height: 1.6rem;
    }

    input {
        flex-grow: 1;
        text-align: right;
        font-weight: 700;
        outline: none;
        background-color: transparent;
    }

    input::placeholder {
        color: $grayishCyan;
    }

    span {
        color: red;
        font-weight: 700;
        letter-spacing: .2rem;
        position: absolute;
        right: 0;
        top: -2rem;
        display: none;
    }
}

.inputWrapper--active {
    border: 2px solid red;
}

.billAmount__inputWrapper:focus-within, .peopleNum__InputWrapper:focus-within {
    border: 2px solid $cyan;
}

/* Configurações em Result Card */

.tipCalcCard__resultCard {
    width: 50%;
    padding: 3rem;
    border-radius: 1rem;
    background-color: $veryDarkCyan;

    @include flex(space-between, space-between);
    flex-flow: column nowrap;

    button {
        background-color: $cyan;
        color: $veryDarkCyan;
        font-weight: 700;
        font-size: 1.7rem;
        padding: .7rem;
        border-radius: .7rem;
        opacity: 0.5;
    }

    .resultCard__resetButton--active {
        cursor: pointer;
        opacity: 1;
    }

    @include phoneScreenDown {
        width: 100%;

        button {
            margin-top: 3rem;
        }
    }
}

.amountsCard__tipAmount, .amountsCard__totalAmount {
    width: 100%;

    @include flex(space-between, center);
    gap: 1rem;

    .tipAmount__textWrapper, .totalAmount__textWrapper {
        p:nth-child(1) {
            color: white;
            font-weight: 700;
            font-size: 1.3rem;
        }

        p:nth-child(2) {
            color: $grayishCyan;
        }
    }

    .tipAmount__number, .totalAmount__number {
        color: $cyan;
        font-weight: 700;
        font-size: 3rem;
        font-size: clamp(2rem, 1rem + 1.2vw, 3.5rem);
    }

    @include extraSmallScreensDown {
        flex-direction: column;
    }
}

.amountsCard__tipAmount {
    margin-bottom: 2.6rem;
}